.movie-details-container {
    min-height: 400px;
    display: grid;
    grid-auto-flow: column;
    align-content: space-around;
    justify-content: space-evenly;
    margin: 0 auto;
    color: #cccccc;
}
.movie-details-poster {
    justify-self: center;
}

.movie-details-inform {
    justify-self: start;
    max-width: 600px;
}

.movie-details-title {
    color: #F55362;
}

.movie-details-tracks {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.movie-details-img {
    border-style: none;
    width: 260px;
    min-height: 378px;
    margin-bottom: 10px;
}


@media all and (max-width: 1024px) {
    .movie-details-container {
        grid-auto-flow: row;
    }
}