.header {
    /*position: fixed;*/
    background: #414141;
    width: 100%;
    margin: 0 auto;
    padding: 15px 50px;
}

.header-logo {
    justify-content: space-between;
    display: flex;
}

.header-search-button {
    line-height: 0;
}